.event {
    width: 320px;
    background: black;
    color: aliceblue;
    padding: 5px 10px 5px 20px;
    margin: 30px 0 0 20px;
    border: 5px solid mediumseagreen;
    border-radius: 25px;
    float: left;
}

.defaultButton {
    border-radius: 5px;
    margin-bottom: 8px;
    width: 50%;
}

button {
    font-size: 20px;
    font-weight: bold;
    font-family: Calibri, serif;
    margin-left: 5px;
    background: mediumseagreen;
    border-radius: 5px;
    border: 2px solid black;
}

button:hover {
    font-size: 20px;
    font-weight: bold;
    font-family: Calibri, serif;
    font-style: italic;
    margin-left: 5px;
    background: mediumseagreen;
    border-radius: 5px;
    color: red;
}

#searchBar {
    height: 30px;
    width: 600px;
    border: 2px solid black;
    border-radius: 5px;
}

.input {
    width: 95%;
}

.description {
    color: black;
    border-radius: 10px;
    background-color:  mediumseagreen;
    width: 92%;
    padding: 8px;
    word-wrap: normal;
    height: 140px;
}

.form {
    background: mediumseagreen;
    width: 16%;
    padding: 20px;
    border-radius: 15px;
}

h1 {
    font-style: italic;
}

h4 {
    color: red;
}
